@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/style.css">

<div class="box">
    <form id="myForm">
        <label>X: </label>
        <input type="number" id="input1" value="2"><br>


        <label>Y: </label>
        <input type="number" id="input2" value="2"><br>

        <label>Z: </label>
        <input type="number" id="input3" value="2"><br>

        <button type="button" onclick="getData()">Отримати дані</button>
    </form>
    <canvas id="canvasGL"></canvas>
</div>



<script type="text/javascript" src="~/js/glMatrix-0.9.5.js"></script>
<script type="text/javascript" src="~/js/Vertext_Shader_Code.js"></script>
<script type="text/javascript" src="~/js/Fragment_Shader_Code.js"></script>
<script type="text/javascript" src="~/js/InitShaders.js"></script>
<script type="text/javascript" src="~/js/Point.js"></script>
<script type="text/javascript" src="~/js/Cube.js"></script>
<script type="text/javascript" src="~/js/PointsArray.js"></script>
<script type="text/javascript" src="~/js/SuperCube.js"></script>


<script type="text/javascript" src="~/js/Main_Script.js"></script>
